{% extends 'base.html'%}
{% load static %}
{% block title %}Accounts{% endblock %}
    {% block content %}
    <!-------- featured product------->
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
           
            <div class="col-4">
                <img src="{% static 'images/tshirt/two.jpg' %}">
                <h4 style="text-align: center;">T-shirt<br>
                <a href="#" class="btn"><span style="color:pink">Explore</a></h4></h4>
            </div>
            <div class="col-4">
                <img src="{% static 'images/mug.jpg' %}">
                <h4 style="text-align: center;">Mugs<br>
                <a href="/mug" class="btn"><span style="color:pink">Explore</a></h4></h4>
            </div>
            <div class="col-4">
                <img src="{% static 'images/mobile-cover.jpg' %}">
                <h4 style="text-align: center;">Mobile-Cover<br>
                <a href="/mobcov" class="btn"><span style="color:pink">Explore</a></h4></h4>
            </div>
        </div>
        <!------ featured product ends here---->
<!----- Recent Products ----->
        <h2 class="title">Recent Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/tshirt/two.jpg' %}">
                <h4>Red printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
            <div class="col-4">
                <img src="{% static 'images/tshirt/one.jpg' %}">
                <h4>Blue printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
             <div class="col-4">
                <img src="{% static 'images/tshirt/three.jpg' %}">
                <h4>Blue printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
             <div class="col-4">
                <img src="{% static 'images/tshirt/four.jpg' %}">
                <h4>Blue printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
             <div class="col-4">
                <img src="{% static 'images/tshirt/five.jpg' %}">
                <h4>Blue printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
             <div class="col-4">
                <img src="{% static 'images/tshirt/six.jpg' %}">
                <h4>Blue printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
             <div class="col-4">
                <img src="{% static 'images/tshirt/t2.jpg' %}">
                <h4>Blue printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div> <div class="col-4">
                <img src="{% static 'images/tshirt/seven.jpg' %}">
                <h4>Blue printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div> <div class="col-4">
                <img src="{% static 'images/tshirt/eight.jpg' %}">
                <h4>Blue printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div> <div class="col-4">
                <img src="{% static 'images/tshirt/nine.jpg' %}">
                <h4>Blue printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
            <div class="col-4">
                <img src="{% static 'images/tshirt/ten.jpg' %}">
                <h4>Green printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
            <div class="col-4">
                <img src="{% static 'images/tshirt/twelve.jpg' %}">
                <h4>Yellow printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
            <div class="col-4">
                <img src="{% static 'images/tshirt/thirteen.jpg' %}">
                <h4>Yellow printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
            <div class="col-4">
                <img src="{% static 'images/tshirt/t4.jpg' %}">
                <h4>Yellow printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
            <div class="col-4">
                <img src="{% static 'images/tshirt/t5.jpg' %}">
                <h4>Yellow printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
               <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
            <div class="col-4">
                <img src="{% static 'images/tshirt/t6.jpg' %}">
                <h4>Yellow printed t-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                </div>
                <h4><a href="#" class="btn">&#8377 399 <span style="color:pink">Buy Now &#10142</a></h4>
            </div>
        </div>
    </div>
{% endblock %}