{% extends 'base.html' %}
{% load static %}

<!-------account page------->
{% block content %}

            <div class="account-page">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="{% static 'images/mobile-cover.jpg' %}">
                    </div>
                    <div class="col-2">
                        <div class="form-container">
                            <div class="form-btn">
                                <span onclick="login()">Login</span>
                                <span onclick="register()">Register</span>
                                <hr id="Indicator">
                            </div>
                            <form id="LoginForm" action="login" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="Username" name="username">
                                <input type="password" placeholder="password" name="password">
                                <button type="submit" class="btn">Login</button>
                                <a href="">Forgot password</a>
                                <div>
                                    {% for message in messages %}
                                    <h4>{{message}}</h4>
                                    {% endfor %}
                                </div>

                            </form>
                            <form id="RegForm" action="signup" method="POST">
                                {% csrf_token %}
                                 <input type="text" placeholder="Username" name="username">
                                <input type="email" placeholder="Email" name="email">
                                <input type="password" placeholder="Password" name="password1">
                                <input type="password" placeholder="Confirm Password" name="password2">
                                <button type="submit" class="btn">Register</button>

                                <div>
                                    {% for message in messages %}
                                    <h4>{{message}}</h4>
                                    {% endfor %}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

      
            <!----- js for toggle menu------>
            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";

                function menutoggle() {
                    if (MenuItems.style.maxHeight == "0px") {
                        MenuItems.style.maxHeight = "200px"
                    }
                    else {
                        MenuItems.style.maxHeight = "0px"
                    }
                }
            </script>
<!------------js for toggle form-------->
<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");

        function register(){
        RegForm.style.transform ="translateX(0px)";
            LoginForm.style.transform ="translateX(0px)";
            Indicator.style.transform ="translateX(100px)";
        }
        
        function login(){
            RegForm.style.transform ="translateX(300px)";
            LoginForm.style.transform ="translateX(300px)";
            Indicator.style.transform ="translateX(0px)";
        }
        
</script>

{% endblock %}